In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
#Create dataset with each row representing one order sequence 
dataset=[["Bread","Milk","Beer"],["Bread","Diapers","Eggs"],["Milk","Diapers","Beer","Cola"],["Bread","Milk","Diapers","Beer"],["Bread","Milk","Cola"]]
dataset

[['Bread', 'Milk', 'Beer'],
 ['Bread', 'Diapers', 'Eggs'],
 ['Milk', 'Diapers', 'Beer', 'Cola'],
 ['Bread', 'Milk', 'Diapers', 'Beer'],
 ['Bread', 'Milk', 'Cola']]

In [2]:
te=TransactionEncoder()
#Read all unique items
te=te.fit(dataset)   
#creates a matrix of orders
te_ary=te.transform(dataset) 
print(te.columns_)
print(te_ary)

['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']
[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]

In [3]:
#Binary encoded orders
df=pd.DataFrame(te_ary,columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [4]:
#filter items having sufficient support
frequent_itemsets=apriori(df,min_support=0.4,use_colnames=True)
frequent_itemsets

    support               itemsets
0       0.6                 [Beer]
1       0.8                [Bread]
2       0.4                 [Cola]
3       0.6              [Diapers]
4       0.8                 [Milk]
5       0.4          [Beer, Bread]
6       0.4        [Beer, Diapers]
7       0.6           [Beer, Milk]
8       0.4       [Bread, Diapers]
9       0.6          [Bread, Milk]
10      0.4           [Cola, Milk]
11      0.4        [Diapers, Milk]
12      0.4    [Beer, Bread, Milk]
13      0.4  [Beer, Diapers, Milk]

In [5]:
#Evaluate items with good support and confidence = 0.7
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)
rules

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.250000,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.250000,0.12,1.600000
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.937500,-0.04,0.800000
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.937500,-0.04,0.800000
4,(Cola),(Milk),0.4,0.8,0.4,1.00,1.250000,0.08,inf
5,"(Beer, Bread)",(Milk),0.4,0.8,0.4,1.00,1.250000,0.08,inf
6,"(Beer, Diapers)",(Milk),0.4,0.8,0.4,1.00,1.250000,0.08,inf
7,"(Milk, Diapers)",(Beer),0.4,0.6,0.4,1.00,1.666667,0.16,inf

# Use these association rules to build  shopping cart app